*{
  font-family: 'Ubuntu',sans-serif;
}


.checked{
  color:orange;
}
body{
  height:100%;
  width: 100%;
  margin:0;
  background-color: #e0e0e0;
}
label{
  display: inline-block;
  width:35%;
  

}
input[type=submit]{
  padding:5px;
}
input{
  display: inline;
}
input[type=text]{
  width: 60%;
}
input[type=number]{
  width: 60%;
}

input[type=date]{
  width: 60%;
}


.content{
  margin: 2%;
  height: 400px;
  
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  background-color: rosybrown;
  position:fixed;
  width: 100%;
  justify-content:space-between;
  
}
.footer{
  display: flex;
  background-color: rosybrown;
  bottom: 0%;
  width: 100%;
  position:fixed;
  justify-content:space-between;
  align-items: center;
}

.logo{
  height: 20px ;
  width:22px;
}
