.logo{
    height:60px;
    width:60px;
}

.column {
    float: left;
    padding: 2px;
  }

 .main-container{
    background-color:  #e0e0e0;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .header{   
  background-color: rosybrown;
  width: 100%;
  }
  .Footer{
    background-color: rosybrown;
    width: 100%;
  }
  .hotel{
      margin: 2% 4% 0% 4%;
  }
  #booking-form{
      margin: 0% 4% 1% 4%;
  }
  .description{
      margin: 1% 4% 2% 4%;
  }
  #list{
    margin-left: 3%;
}
