*{
  font-family: 'Ubuntu',sans-serif;
}
body{
  height:100%;
  width: 100%;
  margin:0;
  background-color: #e0e0e0;
}
.header{
  display: flex;
  background-color: rosybrown;
  position:fixed;
  width: 100%;
  justify-content:space-between;
  
}
.footer{
  display: flex;
  background-color: rosybrown;
  bottom: 0%;
  width: 100%;
  position:fixed;
  justify-content:space-between;
  align-items: center;
}
.logo{
  height: 20px ;
  width:22px;
}

.grid{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5%;
  

}
.grid1{
  margin-left: 2%;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 23px;
  column-gap: 2%;
}

.item_grid{
  
  
  grid-column-start: 1;
  grid-column-end: 2;


}
.item_grid2{
  
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: -7%;


}
.item_grid3{
  display: flex;
  
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: lightgray;
   margin: 2%;
   width: 86%;
   text-decoration: none;
   color: black;


}
.item_grid4{
  display: flex;

  
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: -3%;
  background-color: lightgray;
   margin: 2%; 
   width: 83%;
  }

.item_grid3:hover{
  background-color: rosybrown;
}
.item_grid4:hover{
  background-color: rosybrown;
}
.checked{
  color:orange;
}