.logo{
    height:60px;
    width:60px;
}
.column {
    float: left;
    padding: 2px;
  }
  .main-container{
    background-color:  #e0e0e0;
  }
  .header{
    background-color: rosybrown;
    width: 100%;
  }
  .Footer{
    background-color: rosybrown;
    width: 100%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .hotel-card{
      background-color:  rgb(132,136,139);
      width: 50%;
      height: 20%;
      margin: 2% auto 2% auto;
  }
  .customer{
      margin: 2%;
  }
  .payment{
    padding: 1% 2%;
    border: black 1px solid;
    border-radius: 5px;
    margin: 2%;
  }
  